# PHP version switcher commands
alias php74="sudo dnf module switch-to php:remi-7.4 -y"
alias php81="sudo dnf module switch-to php:remi-8.1 -y"
alias php82="sudo dnf module switch-to php:remi-8.2 -y"
alias php83="sudo dnf module switch-to php:remi-8.3 -y"

# Node.js version switcher commands
alias node18="sudo dnf remove nodejs -y && curl -fsSL https://rpm.nodesource.com/setup_18.x | sudo bash - && sudo dnf install nodejs -y"
alias node20="sudo dnf remove nodejs -y && curl -fsSL https://rpm.nodesource.com/setup_20.x | sudo bash - && sudo dnf install nodejs -y"
alias node22="sudo dnf remove nodejs -y && curl -fsSL https://rpm.nodesource.com/setup_22.x | sudo bash - && sudo dnf install nodejs -y"
