config:
  git:
    config:
      "user.name": ""
      "user.email": ""
  mariadb:
    root_password: ""
  system:
    username: "{{ lookup('env', 'USER') }}"
  # Add as many virtualhosts as needed - if a virtualhost already exists, it will be skipped
  # example.localhost is an example, you can remove it and add your own local domains
  virtualhosts:
    - "example.localhost"
